* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

.announcement-bar {
    background-color: #000000;
    color: #CCAC3B;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.announcement-wrapper {
    display: flex;
    animation: scrollText 10s linear infinite;
}

.announcement-text {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 50px;
}

/* Animation continue des textes */
@keyframes scrollText {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.header {
    box-sizing: border-box;
    max-width: 100%;
    height: 100px;
}

.body {
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    align-items: center;
    max-width: 100%;
    height: 100px;
    display: flex;
    margin-top: 25px;
    padding: 0 1rem;
    box-sizing: border-box;
}

.logo-container {
    background-color: transparent;
    height: 100px;
}

.logo-container img {
    background-color: transparent;
    height: 100px;
}

.title-image {
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.title-image img {
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.navul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0;
    margin: 25px;
}

.navul li {
    margin: 0;
    flex: 1;
    margin: 10px;
    max-width: 125px;
}

.navul li a {
    display: flex;
    color: white;
    border-radius: 5px;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navul li a:hover {
    background-color: #CCAC3B;
    color: #000000;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo-container,
    .title-image {
        margin-top: -2.5rem;
        margin-bottom: 2.5rem;
    }

    .logo-container img {
        margin-top: 1rem;
        height: 200px;
        width: 200px;
    }

    .title-image img {
        height: 150px;
        width: 150px;
        margin-top: 1.5rem;
        margin-left: -2rem;
    }

    .navul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
        max-width: 500px;
        align-items: flex-start;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    .navul li {
        flex: 1 0 45%;
        margin-bottom: 0.25rem;
        padding: 0.25rem 0;
        box-sizing: border-box;
        justify-content: center;
    }

    .navul li a {
        padding: 0.5rem 1rem;
    }
}

#about {
    background-color: #000000;
    justify-content: center;
    max-width: 100%;
    display: flex;
}

.roardiv {
    background-color: black;
}

.roardiv img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.borndiv {
    margin-top: -15px;
}

.borndiv img {
    width: 125px;
}

.blockquotediv {    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    border-radius: 25px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding: 25px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .blockquotediv {
        font-size: 14px;
        padding: 10px;
        margin: 5% 5%;
    }
}

.blockquote {
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.happydiv {
    margin-bottom: -35px;
}

.happydiv img {
    width: 90px;
}


.roaraudio {
    margin-top: 20px;
}

#roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: -50px;
}

.rdtitle {
    margin-top: 20px;
}

.rdtitle img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}


#roadmap img {
    max-width: 100%;
    margin-top: 15px;
    height: auto;
}

.roadiv {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    margin-top: 45px;
    padding-bottom: 0;
}

.roadlist {
    font-weight: bolder;
    color: #CCAC3B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}

.roadlist li {
    list-style-type: none;
    margin-bottom: 15px;
}

.roadlist p {
    margin: 0;
    text-align: center;
}

#market {
    background-color: #000000;
}

.snpdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.snpdiv img {
    width: 50%;
    object-fit: contain;
}

.mmtitle img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

#tokenomics {
    background-color: black;
}

.tokenTitle img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.tokendiv {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    margin-top: -25px;
    padding-bottom: 0;
}

.tokenlist li p {
    font-weight: bolder;
    color: #CCAC3B;
    justify-content: center;
    display: flex;
    margin: 0;
    padding-bottom: 20px;
}


.casino {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 15px;
}

#rotateImage {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#community {
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.communityTitle img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.cmdiv {
    background-color: black;
}

.cmdiv img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    margin-top: -25px;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    margin-top: -55px;
    gap: 20px;
}

.footer-icons a {
    display: inline-block;
}

.footer-icons img {
    width: 40px;
    transition: transform 0.3s ease; 
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

.footer-copyright p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-icons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-icons img {
        width: 30px;
    }
}
